@media (max-width: 700px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 701px) and (max-width: 900px) {
  .container {
    width: 33.3333333333%;
  }
}

@media (min-width: 901px) {
  .container {
    width: 30%;
  }
}

.title {
  font-weight: bold;
  margin-bottom: 10px;
}

.img {
  max-width: 100%;
  max-height: 500px;
}
