#pricing-types-side-by-side {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.pricing-type-section {
  text-align: center;
}

.pricing-buttons-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#registration-form-button-section {
  text-align: center;
}

#main-pricing-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 7px;
}

#chalet-pricing-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 60%;
}

#rv-pricing-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 60%;
}

#tent-pricing-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 60%;
}

#overnight-pricing-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 60%;
}

#registration-form-button {
  justify-self: center;
}

.description-price-entry {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 7px;
}