---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import 'minima';

.index-page-image {
  width: 100%;
  height: 200px;
}

.index-page-content {
  padding: 0px 0px;
  flex: 1;
}

.about-page-image {
  width: 10%;
  height: auto;
  border-radius: 100%;
}
