#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
  width: 100%;
}

#page-navigation {
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 75%;
}

a {
  color: white;
  margin-right: 2%;
}

a:hover {
  color: white;
}
