#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
  width: 100%;
}

#page-navigation {
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 75%;
}

.navLink {
  color: white;
  margin-right: 2%;
  border-bottom: 1px solid wheat;
}

.navLink:hover {
  color: white;
  font-weight: bold;
  border-bottom: 2px solid wheat;
}
