.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #FFFFFF;
}

#exampleSection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 2%;
  margin-bottom: 2%;
}

.formatCardContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2%;
  margin-bottom: 40px;
}