.conceptsText {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 2%;
  margin-bottom: 2%;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #ffffff;
}