---
layout: default
---

<script type="module" src="../assets/js/eventHandler.js"></script>
<div class="form-flex-container">
  <form>
    <!-- <form action="https://formspree.io/f/xkndgkpd" method="post"> -->
      <h1>Form</h1>
      <div class="form-body"></div>
    <input
      type="hidden"
      name="_subject"
      value="New submission from contact form"
    />
    <button type="submit" name="submit" value="submit" id="submit-button">
      Submit
    </button>
    <button type="reset" name="reset" value="reset" id="reset-button">
      Reset
    </button>
  </form>
</div>
