---
layout: default
---

<script type="module" src="../assets/pricings/chalet/eventHandler.js"></script>
<script type="module" src="../assets/pricings/rv/eventHandler.js"></script>
<script type="module" src="../assets/pricings/tents/eventHandler.js"></script>

<button id="chalet-pricing-button">Chalet</button>
<button id="rv-pricing-button">Rv</button>
<button id="tents-pricing-button">Tent</button>
<div id="main-pricing-container"></div>
<button onclick="window.open('/form/index.html', '_blank')" id="registration-form-button">
  Registration Form
</button>
