---
layout: default
---

<script type="module" src="../assets/pricings/chalet/eventHandler.js"></script>
<script type="module" src="../assets/pricings/rv/eventHandler.js"></script>
<script type="module" src="../assets/pricings/tents/eventHandler.js"></script>
<script
  type="module"
  src="../assets/pricings/overnight/eventHandler.js"
></script>

<div class="pricing-section">
  <p>5 days options</p>
  <div class="section-buttons">
    <button id="chalet-pricing-button">Chalet</button>
    <button id="rv-pricing-button">Rv</button>
    <button id="tents-pricing-button">Tent</button>
  </div>
  <div id="fiveDay-pricing-container"></div>
</div>
<div class="pricing-section">
  <p>Overnight with meals options</p>
  <div class="section-buttons">
    <button id="overnight-pricing-button">Overnight</button>
  </div>
  <div id="overnight-pricing-container"></div>
</div>
<button
  onclick="window.open('/form/index.html', '_blank')"
  id="registration-form-button"
>
  Registration Form
</button>
